<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_news">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo_app2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_app2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Contatti.EmailActivity"></activity>
        <activity android:name=".Contatti.ContattiActivity" />
        <activity android:name=".Giocatori_squadre_ligue1.ParisSG" />
        <activity android:name=".Giocatori_squadre_bundesliga.BayerMonaco" />
        <activity android:name=".Giocatori_squadre_liga.Barcelona" />
        <activity android:name=".Giocatori_squadre_premier.Arsenal" />
        <activity android:name=".Giocatori_squadre_serie_a.Verona" />
        <activity android:name=".Giocatori_squadre_serie_a.Udinese" />
        <activity android:name=".Giocatori_squadre_serie_a.Spal" />
        <activity android:name=".Giocatori_squadre_serie_a.Sassuolo" />
        <activity android:name=".Giocatori_squadre_serie_a.Sampdoria" />
        <activity android:name=".Giocatori_squadre_serie_a.Parma" />
        <activity android:name=".Giocatori_squadre_serie_a.Lecce" />
        <activity android:name=".Giocatori_squadre_serie_a.Genoa" />
        <activity android:name=".Giocatori_squadre_serie_a.Fiorentina" />
        <activity android:name=".Giocatori_squadre_serie_a.Cagliari" />
        <activity android:name=".Giocatori_squadre_serie_a.Brescia" />
        <activity android:name=".Giocatori_squadre_serie_a.Bologna" />
        <activity android:name=".Statistiche_Ligue1.OptionStatisticheLigue1" />
        <activity android:name=".Statistiche_Ligue1.StatisticheQuoteLigue1" />
        <activity android:name=".Statistiche_Ligue1.StatistichePossesoPallaLigue1" />
        <activity android:name=".Statistiche_BundesLiga.OptionStatisticheBundesLiga" />
        <activity android:name=".Statistiche_BundesLiga.StatisticheQuoteBundesLiga" />
        <activity android:name=".Statistiche_BundesLiga.StatistichePossesoPallaBundesLiga" />
        <activity android:name=".Statistiche_Liga.OptionStatisticheLiga" />
        <activity android:name=".Statistiche_Liga.StatisticheQuoteLiga" />
        <activity android:name=".Statistiche_Liga.StatistichePossesoPallaLiga" />
        <activity android:name=".Statistiche_Premier.StatisticheQuotePremier" />
        <activity android:name=".Statistiche_Premier.OptionStatistichePremier" />
        <activity android:name=".Statistiche_Premier.StatistichePossesoPremier" />
        <activity android:name=".Statistiche_SerieA.StatisticheQuoteSerieA" />
        <activity android:name=".Statistiche_SerieA.StatisticheMediaGoalSerieA" />
        <activity android:name=".Statistiche_SerieA.OptionStatisticheSerieaActivity" />
        <activity android:name=".Statistiche_SerieA.StatistichePossesoPallaSerieA" />
        <activity android:name=".Statistiche_SerieA.StatisticheActivity" />
        <activity android:name=".Giocatori_squadre_serie_a.Atalanta" />
        <activity android:name=".Giocatori_squadre_serie_a.Lazio" />
        <activity android:name=".Giocatori_squadre_serie_a.Torino" />
        <activity android:name=".Ligue1.CalendarioLigue1" />
        <activity android:name=".Ligue1.ClassificaLigue1" />
        <activity android:name=".Ligue1.MarcatoriLigue1" />
        <activity android:name=".BundesLiga.CalendarioBundesLiga" />
        <activity android:name=".BundesLiga.ClassificaBundesLiga" />
        <activity android:name=".BundesLiga.MarcatoriBundesLiga" />
        <activity android:name=".Giocatori_squadre_serie_a.Napoli" />
        <activity android:name=".Ligue1.SquadreLigue1" />
        <activity android:name=".BundesLiga.SquadreBundesliga" />
        <activity android:name=".Liga.CalendarioLiga" />
        <activity android:name=".Liga.ClassificaLiga" />
        <activity android:name=".Liga.MarcatoriLiga" />
        <activity android:name=".PremierLeague.CalendarioPremierLeague" />
        <activity android:name=".PremierLeague.ClassificaPremierLeague" />
        <activity android:name=".PremierLeague.MarcatoriPremierLeague" />
        <activity android:name=".Liga.SquadreLiga" />
        <activity android:name=".PremierLeague.SquadrePremierLeague" />
        <activity android:name=".Giocatori_squadre_serie_a.Roma" />
        <activity android:name=".Giocatori_squadre_serie_a.Milan" />
        <activity android:name=".Giocatori_squadre_serie_a.Inter" />
        <activity android:name=".Video.VideoActivity" />
        <activity android:name=".LiveScore.LiveScoreActivity" />
        <activity android:name=".SerieA.CalendarioSerieA" />
        <activity android:name=".SerieA.ClassificaSerieA" />
        <activity android:name=".Giocatori_squadre_serie_a.Juve" />
        <activity android:name=".SplashScreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Campionati_activity.SerieaActivity" />
        <activity android:name=".Info.InfoActivity" />
        <activity android:name=".Campionati_activity.Ligue1Activity" />
        <activity android:name=".Campionati_activity.BundeligaActivity" />
        <activity android:name=".Campionati_activity.LigaActivity" />
        <activity android:name=".Campionati_activity.PremierActivity" />
        <activity android:name=".SerieA.SquadreSerieA" />
        <activity android:name=".SerieA.MarcatoriSerieA" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListNewsAdapter"
            android:label="@string/title_activity_list_news_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>