<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_news">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo_app2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_app2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".testCalendario"
            android:label="@string/title_activity_test_calendario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Statistiche_SerieA.StatisticheQuoteSerieA" />
        <activity android:name=".Statistiche_SerieA.StatisticheMediaGoalSerieA" />
        <activity android:name=".Statistiche_SerieA.OptionStatisticheSerieaActivity" />
        <activity android:name=".Statistiche_SerieA.StatistichePossesoPallaSerieA" />
        <activity android:name=".Statistiche_SerieA.StatisticheActivity" />
        <activity android:name=".Squadre_serie_A.Atalanta" />
        <activity android:name=".Squadre_serie_A.Lazio" />
        <activity android:name=".Squadre_serie_A.Torino" />
        <activity android:name=".Ligue1.CalendarioLigue1" />
        <activity android:name=".Ligue1.ClassificaLigue1" />
        <activity android:name=".Ligue1.MarcatoriLigue1" />
        <activity android:name=".BundesLiga.CalendarioBundesLiga" />
        <activity android:name=".BundesLiga.ClassificaBundesLiga" />
        <activity android:name=".BundesLiga.MarcatoriBundesLiga" />
        <activity android:name=".Squadre_serie_A.Napoli" />
        <activity android:name=".Ligue1.SquadreLigue1" />
        <activity android:name=".BundesLiga.SquadreBundesliga" />
        <activity android:name=".Liga.CalendarioLiga" />
        <activity android:name=".Liga.ClassificaLiga" />
        <activity android:name=".Liga.MarcatoriLiga" />
        <activity android:name=".PremierLeague.CalendarioPremierLeague" />
        <activity android:name=".PremierLeague.ClassificaPremierLeague" />
        <activity android:name=".PremierLeague.MarcatoriPremierLeague" />
        <activity android:name=".Liga.SquadreLiga" />
        <activity android:name=".PremierLeague.SquadrePremierLeague" />
        <activity android:name=".Squadre_serie_A.Roma" />
        <activity android:name=".Squadre_serie_A.Milan" />
        <activity android:name=".Squadre_serie_A.Inter" />
        <activity android:name=".Video.VideoActivity" />
        <activity android:name=".LiveScore.LiveScoreActivity" />
        <activity android:name=".SerieA.Calendario_serie_a" />
        <activity android:name=".SerieA.Classifica_Serie_A" />
        <activity android:name=".Squadre_serie_A.Juve" />
        <activity android:name=".SplashScreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Campionati.SerieaActivity" />
        <activity android:name=".Info.InfoActivity" />
        <activity android:name=".Campionati.Ligue1Activity" />
        <activity android:name=".Campionati.BundeligaActivity" />
        <activity android:name=".Campionati.LigaActivity" />
        <activity android:name=".Campionati.PremierActivity" />
        <activity android:name=".SerieA.SquadreSerieA" />
        <activity android:name=".SerieA.MarcatoriSerieA" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListNewsAdapter"
            android:label="@string/title_activity_list_news_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>